main{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    width:99%;
}
.greeting{
    width: 60%;
    color: #0056b3;
    display:inline;
}
.profile-pic{
    width: 200px;
    height: 200px;
    float: right;
    margin: 2%;
    /*border-radius: 50%;*/
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.chatroom-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chatroom-list li {
    margin-bottom: 10px;
    background-color: orange;
    padding: 10px;
    border-radius: 5px;
}

.chatroom-list li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.chatroom-list li a:hover {
    color: #000;
}

.chatroom-add{
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
    height: 44px;
    width: 44px;
}
.chatroom-join{
    color: teal;
    text-decoration: none;
}
.chatroom-join:hover{
    color: greenyellow;
    text-decoration: none;
}