<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/style/register.css">
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/nav.css">
    <link rel="stylesheet" href="/style/bootstrap.min.css">
</head>
<body>
    <%- include('navbar') %>
    <main>
        <% if (locals.error) { %>
            <div class="error"> <%= error %> </div>
        <% } %>
        <form action="/register" method="post" name="register-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required><br>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required><br>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required><br>
            <input type="submit" value="Register">
        </form>
    </main>
    <script src="/script/jquery-3.7.0.min.js"> </script>
    <script src="/script/bootstrap.bundle.min.js"> </script>
</body>
</html>